.featured-title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  padding: 12px 28px;
  margin: 48px 24px 36px;
  color: #fff;
  border-radius: 12px;
  letter-spacing: 0.5px;

  background: linear-gradient(
    90deg,
    rgba(198,121,45,0) 18%,
    rgba(198,121,45,0.18) 32%,
    rgba(241,133,0,0.28) 50%,
    rgba(198,121,45,0.18) 68%,
    rgba(198,121,45,0) 82%
  );

  background-size: 0% 100%;
  background-position: center;
  background-repeat: no-repeat;

  animation: spreadGold 1.6s ease-out forwards;
}

@keyframes spreadGold{
  from {
    background-size: 0% 100%;
    opacity: 0;
  }
  to {
    background-size: 100% 100%;
    opacity: 1;
  }
}


.title{
  font-size: 36px;
  font-weight: 600;
  padding: 12px 26px;
  margin: 0 24px 24px 0;
  color: #fff;
  border-left: #222;
  background: linear-gradient(
    to right,
    #333 0%,
    #222 40%,
    #111 70%,
    #111 100%
  );
  border-radius: 10px;
}
