.featured-title{
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  padding: 12px 26px;
  margin: 48px 24px 36px;
  color: #fff;
  border-radius: 10px;

  background: linear-gradient(
    to right,
    rgba(184,134,11,0) 20%,
    rgba(255,191,112,0.30) 35%,
    rgba(198,121,45,0.18) 50%,
    rgba(255,191,112,0.30) 65%,
    rgba(207,181,59,0) 80%
  );

  background-size: 0% 100%;
  background-position: center;
  background-repeat: no-repeat;

  animation: spreadGold 1.6s ease-out forwards;
}

@keyframes spreadGold{
  from {
    background-size: 0% 100%;
    opacity: 0;
  }
  to {
    background-size: 100% 100%;
    opacity: 1;
  }
}


.title{
  font-size: 36px;
  font-weight: 600;
  padding: 12px 26px;
  margin: 0 24px 36px 0;
  color: #fff;
  border-left: #222;
  background: linear-gradient(
    to right,
    #333 0%,
    #222 40%,
    #111 70%,
    #111 100%
  );
  border-radius: 10px;
}
